/*IMPORTS STYLES*/
@import './normalize';
@import './fonts';
@import './grid';

/*BEGIN BODY*/
body {
    background-color: rgb(207, 207, 207);
}

/*END BODY*/


/*BEGIN HEADER*/
@font_size_header: 20px;
@background-color_header: green;
@font_family_header: LatoItalic;

#header h2 {
    color: blue;

    p {
        color: blue;
    }
}

/*BEGIN NAV-TITLE*/
.nav-bar(@color_back: rgb(218, 218, 218), @color_text: rgb(82, 30, 30), @size_nav: 16px, @size_title: 14px) {
    width: 100%;
    height: 80px;
    background-color: @color_back;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid @color_back;
    font-size: @size_nav;
    color: @color_text;

    h1 {
        position: relative;
        margin-top: 19px;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: @size_title;
    }

    p {
        position: relative;

        margin-top: 0;
        margin-left: 30px;
    }

    a {
        margin: 0 0 0 20px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: white;
    }
}

.title-nav {
    .nav-bar(darken(darkgray, 30%), white, 30px);
}

.title-nav2 {
    .nav-bar(green);
}

/*END NAV-TITLE*/

/*END HEADER*/

/*BEGIN CONTENT*/
/*END CONTENT*/

/*BEGIN FOOTER*/
.footer .social {
    padding: 4em 0 0 0;

    a {
        text-decoration: none;
        font-family: LatoItalic;
        color: red;

        &:hover {
            text-decoration: underline;
            color: darkolivegreen;

        }
    }
}

/*END FOOTER*/