/*IMPORTS STYLES*/
@import './normalize.less';
@import './fonts.less';
@import './grid.less';

/*BEGIN BODY*/
body {
    background-color: rgb(207, 207, 207);
}

/*END BODY*/


/*BEGIN HEADER*/
#header h2 {
    color: blue;

    p {
        color: blue;
    }
}

/*BEGIN NAV-TITLE*/
.title-nav {
    font-size: 46px;
    background-color: darkgray;
    font-family: LatoBold;

    h1 {
        color: yellowgreen;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }
}

.title-nav a:hover {
    text-decoration: underline;
    color: red;
}

/*END NAV-TITLE*/

/*END HEADER*/

/*BEGIN CONTENT*/
/*END CONTENT*/

/*BEGIN FOOTER*/
.footer .social {
    padding: 4em 0 0 0;

    a {
        text-decoration: none;
        color: darkgreen;
        font-family: LatoBold;
    }
}

.footer .social a:hover {
    text-decoration: underline;
    color: white;
}

/*END FOOTER*/